<!DOCTYPE html>

<html ng-app="qrsService">
<head>
  <title>ChromeRuleManagement</title>

  <script src="bower_components/webcomponentsjs/webcomponents.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>


  <link rel="import" href="bower_components/core-icons/core-icons.html">
  <link rel="import" href="bower_components/core-toolbar/core-toolbar.html">
  <link rel="import" href="bower_components/font-roboto/roboto.html">
  <link rel="import" href="bower_components/paper-button/paper-button.html">
  <link rel="import" href="bower_components/paper-checkbox/paper-checkbox.html">
  <link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">
  <link rel="import" href="bower_components/paper-fab/paper-fab.html">
  <link rel="import" href="bower_components/paper-tabs/paper-tabs.html">
  <link rel="import" href="bower_components/paper-toast/paper-toast.html">

  <link rel="stylesheet" href="styles.css">
</head>

<body unresolved>
  <div ng-controller="qrsController">
  <core-toolbar>
    <paper-icon-button icon="menu"></paper-icon-button>
    <span flex>Security Rule Management</span>
    <paper-button ng-click="login()">
      <core-icon icon="lock"></core-icon>
    </paper-button>
    <paper-button ng-click="refresh()">
      <core-icon icon="refresh"></core-icon>
    </paper-button>
  </core-toolbar>

  <section>
  {{ about }}
  {{1+2}}

  </section>

  <script src="main.js"></script>
  </div>
</body>
</html>
