<!DOCTYPE html>
<html ng-app="qrsService">

<head>
  <title>ChromeRuleManagement</title>

  <link rel="stylesheet" href="stylesfonts.css">
  <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">

</head>

<body unresolved="">
  <div ng-controller="qrsController">
    <md-toolbar layout="row" layout-align="space-between">
      <div class="md-toolbar-tools">
        <md-button><i class="material-icons">menu</i></md-button>
        <span flex>Security Rule Management</span>
        <span flex>{{logedin}}</span>
        <span flex>
          <md-input-container>
            <label>
              Server
            </label>
            <input placeholder="a single-line input" value="{{server}}" ng-model="server" committedvalue="{{server}}">
          </md-input-container>
        </span>
        <md-button ng-click="login()"><i class="material-icons">lock</i></md-button>
        <md-button ng-click="list()"><i class="material-icons">refresh</i></md-button>
      </div>
    </md-toolbar>
    <md-tabs selected="0" md-selected="selectedIndex" md-stretch-tabs="always" md-border-bottom class="md-primary md-hue-1" md-dynamic-height="true">
      <md-tab>
        <md-tab-label>Server repository</md-tab-label>
        <md-tab-body>
          <div style="overflow: auto; height: 550px;" layout="column">
            <md-content flex layout="column">
              <md-list>
                <md-list-item ng-repeat="serverRule in serverRuleList" value="{{rule.id}}" ng-class="disableRow(serverRule)">
                  <md-button aria-label="Add rule" ng-click="addToRulePackage(serverRule)">
                    <img class="md-avatar" src="../../assets/icon_128.png" width="48" height="48"></img>
                  </md-button>
                  <div class="md-list-item-text" layout="column" ng-class="ruleSelected(serverRule)">
                    <h2>{{serverRule.name}}</h2>
                    <i>{{serverRule.comment}}</i>
                    <h3>Custom properties</h3>
                    <div ng-repeat="customprop in serverRule.customPropertyObj"><i>{{customprop.name}}</i></div>
                    <h3>State: {{(packageRule.disabled ? 'Disabled' : 'Enabled')}}</h3>
                  </div>
                  <md-divider></md-divider>
                </md-list-item>
              </md-list>
            </md-content>
          </div>
          <md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>Rule package</md-tab-label>
        <md-tab-body>
          <div style="overflow: auto; height:500px" layout="column">
            <md-input-container layout-padding>
              <label>Name</label>
              <input class="md-body-2" placeholder="Name of rule package" value="{{rulepPackageObj.packageName}}" ng-model="rulePackageObj.packageName" committedvalue="{{rulepPackageObj.packageName}}">
            </md-input-container>
            <md-input-container layout-padding>
              <label>Description</label>
              <input class="md-body-2" placeholder="Description of rule package" value="{{rulePackageObj.packageDescription}}" ng-model="rulePackageObj.packageDescription" committedvalue="{{rulePackageObj.packageDescription}}">
            </md-input-container>
            <md-list>
              <md-list-item layout="row" layout-align="start   center" layout-margin ng-repeat="packageRule in rulePackageObj.ruleList" value="{{packageRule.id}}" ng-class="disableRow(packageRule)">
                <img class="md-avatar" src="../../assets/icon_128.png" width="48" height="48"></img>
                <div class="md-list-item-text" layout="column" layout-align="start start">
                  <h2>{{packageRule.name}}</h2>
                  <i>{{packageRule.comment}}</i>
                  <h3>Custom properties</h3>
                  <div ng-repeat="customprop in packageRule.customPropertyObj"><i>{{customprop.name}}</i></div>
                  <md-button ng-click="toggleRule(packageRule)" flex="none"><i class="material-icons">done</i>{{(packageRule.disabled ? 'Disabled' : 'Enabled')}}</md-button>
                  <md-divider></md-divider>
                </div>
              </md-list-item>
            </md-list>
          </div>
          <md-toolbar layout="row">
            <md-button ng-click="saveRulePackage()"><i class="material-icons">save</i></md-button>
            <md-button ng-click="uploadRulePackage(rulePackageObj)"><i class="material-icons">file_upload</i></md-button>
            <md-button ng-click="clearRulePackage()"><i class="material-icons">clear</i></md-button>
          </md-toolbar>
          <md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>Local repository</md-tab-label>
        <md-tab-body>
          <div>
            <div style="overflow: auto; height:500px">
              <md-list>
                <md-list-item ng-repeat="package in packageList" value="{{package.packageName}}" class="rule-item">
                  <md-button ng-click="loadRulePackage(package)"><i class="material-icons">chevron_left</i></md-button>
                  <md-button ng-click="deleteRulePackage(package)"><i class="material-icons">delete</i></md-button>
                  <div flex="">
                    <div>
                      <h2>{{package.packageName}}</h2>
                    </div>
                    <div>{{package.packageDescription}}</div>
                  </div>
                  <md-divider></md-divider>
                </md-list-item>
                <md-list>
            </div>
            <md-toolbar layout="row">
              <md-button ng-click="importPackageList()" class="btn1"><i class="material-icons">file_upload</i></md-button>
              <md-button ng-click="exportPackageList()" class="btn1"><i class="material-icons">file_download</i></md-button>
            </md-toolbar>
          </div>
        </md-tab-body>
      </md-tab>

    </md-tabs>



    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>

    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>

    <script src="main.js"></script>
    <script src="script/services/qrsRules.js"></script>
    <script src="script/services/qrsCustProp.js"></script>
    <script src="script/services/localStorage.js"></script>
    <script src="script/services/rulePackage.js"></script>
    <script src="script/controllers/qrsController.js"></script>

  </div>

</body>

</html>
