body {
  font-family: RobotoDraft, sans-serif;
  color: #333;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

section {
  margin: 20px;
  height: 1000px;
}

a, a:hover {
  text-decoration: none;
}

core-toolbar {
  background-color: #62AC1E;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 1.5em;
}

paper-button {
  margin: 0.5em 1em 0.5em 0;
  width: 10em;
}

paper-button[right] {
  position: fixed;
  right: 0;
}

paper-checkbox {
  margin-left: 1em;
}

paper-fab {
  position: absolute !important;
  top: 35px;
  right: 1em;
  z-index: 1;
}

paper-tabs {
  background-color: #C4D600;
  color: #fff;
}

paper-tabs[noink][nobar] paper-tab.core-selected {
  color: #ffff8d;
}

core-item.rule-item {
      height: auto  ;
      background-color: #FFFFFF;
      border: 1px solid #7E8083;
}

core-pages.core-selected {
    position: relative;
    display: block;
}

core-item.rule-item .name {
      font-size: 1.12em;
      font-weight: bold;
      margin-top:5px;
      margin-bottom:5px;
}

core-item.rule-item .header {
      margin-top: 5px;
      font-size: 1.1em;
      font-weight: bold;
}

core-item.rule-item .description {
      font-size: 1em;
      font-style: italic;
}